@import url("https://unpkg.com/@kfonts/nexon-maplestory-otf/index.css");

.App {
  text-align: center;
  font-family: "메이플스토리 OTF", "메이플스토리OTF", "nexon-maplestory-otf";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: "메이플스토리 OTF", "메이플스토리OTF", "nexon-maplestory-otf";
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
