@import url("https://unpkg.com/@kfonts/nexon-maplestory-otf/index.css");

body {
  margin: 0;
  font-family: "메이플스토리 OTF", "메이플스토리OTF", "nexon-maplestory-otf";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.maple-font {
  font-family: "메이플스토리 OTF", "메이플스토리OTF", "nexon-maplestory-otf";
}
